In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import psycopg2

In [5]:
conn = psycopg2.connect(dbname='postgres', user='postgres', host='db', 
                        password='example')

In [6]:
df = pd.read_csv('wine.data')

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:example@db:5432/postgres')

In [8]:
df.to_sql('wine', engine)

In [9]:
a=pd.read_sql_query('select count (*) from wine',con=engine)

In [10]:
a

   count
0    177